@import 'utils/design';

.app-google-app {
    @include flex-col;
    width: 100vw;
    height: 64vh;

    .map-test-item {
        width: 32px !important;
        height: 32px !important;
        background: $_blue !important;
    }
}